<div id="AddFavorites" style="display:none;" title="Add to Favorites">
    <div id="AddFavoritesMsg">
        <p>Are you sure you want to add this page to your favorites?</p>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="/articles"><i class="fa fa-list"></i> Main</a></li>
    <li class="nav-item"><a class="nav-link" href="/articles_search"><i class="fa fa-search"></i> Search</a></li>
    <li class="nav-item"><a class="nav-link" href="/articles_manage"><i class="fa fa-plus"></i> Manage Articles</a></li>
    <li class="nav-item"><a class="nav-link" href="/articles_modify"><i class="fa fa-plus"></i> Post Article</a></li>
</ul>
<br>

@code {

}
