<!-- Start Page Text -->
<h1>Welcome to Your Website</h1>
<p>ksdlk sla saiwqe elfp el ijoqwid dwjw d wqjkdqww ewqoef few bfe effe ef ewl ew oew fef efw kefl afsm zxl ledvlj ewk vn skjb jk ,mdfsbjdb zx jdfbkjbdskj d jkbdfk dzcxkjb egieuwib bk kjkds djkdfkdfs dfskjbdfsbkdfs dsfjkegyewn emds kdjsfjdsbkjdf dfsnjbdsgfayk kbdffbkfb a fkfvk ,mdfsbjdb zx jdfbkjbdskj d jkbdfk dzcxkjb egieuwib bk kjkds djkdfkdfs dfskjbdfsbkdfs dsfjkegyewn emds kdjsfjdsbkjdf dfsnjbdsgfayk kbdffbkfb a fkfvk.</p>
<p>ksdlk sla saiwqe elfp el ijoqwid dwjw d wqjkdqww ewqoef few bfe effe ef ewl ew oew fef efw kefl afsm zxl ledvlj ewk vn skjb jk ,mdfsbjdb zx jdfbkjbdskj d jkbdfk dzcxkjb egieuwib bk kjkds djkdfkdfs dfskjbdfsbkdfs dsfjkegyewn emds kdjsfjdsbkjdf dfsnjbdsgfayk kbdffbkfb a fkfvk ,mdfsbjdb zx jdfbkjbdskj d jkbdfk dzcxkjb egieuwib bk kjkds djkdfkdfs dfskjbdfsbkdfs dsfjkegyewn emds kdjsfjdsbkjdf dfsnjbdsgfayk kbdffbkfb a fkfvk.</p>
<br/>
<!-- End Page Text -->

<!-- Start FieldSet -->
<hr width="100%"/>
<h2> Sample Form Display</h2>
<div class="ModFormDiv"[[FieldSet]]>
    <fieldset class="ModFieldset">
        <legend>&nbsp;Contact Us</legend>
        <p>
            <label id="idYourName" class="requiredText">Your Name:</label>
            <input type="text" id="FullName" name="FullName" maxlength="100" class="textEntry" style="width: 250px;"/>
        </p>
        <p>
            <label id="idPhoneNumber">Phone Number:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" maxlength="100" class="textEntry" style="width: 250px;"/>
        </p>
        <p>
            <label id="idComments" class="requiredText">Comments:</label>
            <textarea name="Comments" class="textareaEntry" id="Comments" style="height: 100px; width: 250px;" cols="250" rows="100"></textarea>
        </p>
    </fieldset>
    <p class="ModSaveButton">
        <input type="button" id="Send_Email" value="Send Email"/>
    </p>
</div>
<!-- End FieldSet -->

<!-- Start Event Calendar -->
<hr width="100%"/>
<h2> Sample Event Calendar Display</h2>
<table width="350px" class="EventTable" id="EventHeader10" align="center"[[EventCalendar]]>
    <tr>
        <td class="EventTitle" colspan="7">
            <div id="tblevents">
                <table width="100%" align="center" class="Table" id="EventBody20">
                    <tr>
                        <td class="EventTitle" valign="top" width="50" align="left">
                            <a href="#" class="TopMenu">Dec</a>
                        </td>
                        <td class="EventTitle" valign="top" align="center">
                            <a href="#" class="TopMenu">January 2011</a>
                        </td>
                        <td class="EventTitle" valign="top" width="50" align="right">
                            <a href="#" class="TopMenu">Feb</a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td class="EventDays" valign="top" width="50" align="center">Sun</td>
        <td class="EventDays" valign="top" width="50" align="center">Mon</td>
        <td class="EventDays" valign="top" width="50" align="center">Tue</td>
        <td class="EventDays" valign="top" width="50" align="center">Wed</td>
        <td class="EventDays" valign="top" width="50" align="center">Thu</td>
        <td class="EventDays" valign="top" width="50" align="center">Fri</td>
        <td class="EventDays" valign="top" width="50" align="center">Sat</td>
    </tr>
    <tr>
        <td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">1</div>
        </td>
    </tr>
    <tr>
        <td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">2</div>
        </td><td class="EventDays" valign="top" tyle="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">3</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">4</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">5</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">6</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">7</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">8</div>
        </td>
    </tr>
    <tr>
        <td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">9</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">10</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">11</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">12</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">13</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">14</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">15</div>
        </td>
    </tr>
    <tr>
        <td class="EventOnDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">16</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">17</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">18</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">19</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">20</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">21</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">22</div>
        </td>
    </tr>
    <tr>
        <td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">23</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">24</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">25</div>
        </td><td class="EventToday" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">26</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">27</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">28</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">29</div>
        </td>
    </tr>
    <tr>
        <td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">30</div>
        </td><td class="EventDays" valign="top" style="cursor: Pointer;" width="50" height="50">
            <div class="caldiv">31</div>
        </td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td><td class="EventBlank" valign="top"></td>
    </tr>
</table>
<br/>
<!-- End Event Calendar -->

<!-- Start Downloads -->
<hr width="100%"/>
<h2> Downloads Display</h2>
<table width="100%" align="center" class="GridViewStyle"[[Tables]]>
    <tr class="TitleStyle">
        <th>
            <table width="96%" border="0" cellpadding="1" cellspacing="0">
                <tr>
                    <td width="33%" valign="top">
                        <b>PC Tools AntiVirus Free</b>
                    </td>
                    <td width="33%" valign="top" align="center">
                        <b>Version</b> 8.0
                    </td>
                    <td width="33%" valign="top" align="right"><b>Price</b> Free</td>
                </tr>
            </table>
        </th>
    </tr><tr class="HeaderStyle">
        <td>
            <table width="96%" border="0" cellpadding="1" cellspacing="0">
                <tr>
                    <td width="33%" valign="top">
                        <b>Downloads:</b> <span id="fcount201423202323996">0</span></td>
                    <td width="33%" valign="top" align="center"><b>Date Posted</b> 12/11/2010</td>
                    <td width="50%" valign="top" align="center">
                        <b>Rated:</b> <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                        <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                        <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                        <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                        <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr><tr class="RowStyle">
        <td>
            PC Tools AntiVirus Free is a full antivirus and antispyware package designed to protect from known viruses, worms, Trojans and other threats while defending against spyware, adware, bots, keyloggers and other malware. Monitors for and blocks known malware in real-time. PC Tools AntiVirus Free uses spider scanning technology to identify and remove threats in minutes. Warns you about unsafe or phishing websites and displays website safety ratings in your search results. Frequent automatic updates and product upgrades ensure that you are always protected against the latest threats<br/>
            <table width="96%" border="0" cellpadding="1" cellspacing="0">
                <tr class="TableBody1">
                    <td valign="top">
                        <b>
                            <a href="#" class="UpdateCount('201423202323996')">Download Now</a>
                        </b>
                    </td>
                    <td align="right">
                        <b>Username</b>
                        <a href="#">bsmith</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br/>
<!-- End Downloads -->

<!-- Start Businesses -->
<hr width="100%"/>
<h2> Newest Business Display</h2>
<div id="BusinessTables"[[Tables]]>
    <div id="tblbusiness">
        <table width="100%" class="GridViewStyle">
            <tr class="TitleStyle">
                <td colspan="1">
                    <b><a href="#" target="_blank">
                        <img src="/images/admin/rss.gif" alt="RSS Feed" border="0" align="right"/>
                    </a>Top 10 Newest Businesses</b>
                </td>
            </tr>
        </table>
    </div>
    <table class="GridViewStyle" width="100%">
        <tr class="HeaderStyle">
            <td>
                <a href="#" class="BusinessTitle">SepCity</a>
            </td>
            <td align="right">
                <span class="businessHits">Hits: 6</span></td>
        </tr><tr class="RowStyle">
            <td valign="top" width="100%">Integrated web portal software solution and content management system application (CMS). We designed our software for the end user to have complete control of their business Internet / Intranet website without HTML or programming knowledge</td>
            <td align="right" valign="top" width="55">
                <input type="button" style="width: 55px" id="Details" value="Details" class="buttonMedium"/>
                <input type="button" style="width: 55px" id="Visit" value="Visit" class="buttonMedium"/>
                <input type="button" style="width: 55px" id="Refer" value="Refer" class="buttonMedium"/>
            </td>
        </tr><tr class="HeaderStyle">
            <td colspan="2">
                <table width="98%">
                    <tr>
                        <td width="33%">
                            <input type="button" id="Add_Comment" value="Add Comment" class="buttonMedium"/>
                            <input type="button" id="Rate_It" value="Rate It" class="buttonMedium"/>
                        </td>
                        <td width="33%" align="center">Member Comments (1)</td>
                        <td width="33%" align="right">
                            Rating: <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star1.gif" alt="Star" border="0"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br/>
    <table class="Table" width="100%">
        <tr class="TableHeader">
            <td>
                <a href="#" class="BusinessTitle">Casting Connection</a>
            </td>
            <td align="right">
                <span class="businessHits">Hits: 6</span></td>
        </tr><tr class="TableBody2">
            <td valign="top" width="100%">
                Connecting filmmakers with actors and crew since 1997
                Th&#232;me : Casting Connection casting actors filmmakers crew for film find acting job
            </td>
            <td align="right" valign="top" width="55">
                <input type="button" style="width: 55px" id="Details" value="Details" class="buttonMedium"/>
                <input type="button" style="width: 55px" id="Visit" value="Visit" class="buttonMedium"/>
                <input type="button" style="width: 55px" id="Refer" value="Refer" class="buttonMedium"/>
            </td>
        </tr><tr class="TableHeader">
            <td colspan="2">
                <table width="98%">
                    <tr class="TableHeader">
                        <td width="33%">
                            <input type="button" id="Add_Comment" value="Add Comment" class="buttonMedium"/>
                            <input type="button" id="Rate_It" value="Rate It" class="buttonMedium"/>
                        </td>
                        <td width="33%" align="center">Member Comments (0)</td>
                        <td width="33%" align="right">
                            Rating: <img src="/images/admin/star2.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star2.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star2.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star2.gif" alt="Star" border="0"/>
                            <img src="/images/admin/star2.gif" alt="Star" border="0"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<br/>
<!-- End Business Directory -->

<!-- Start Link Directory -->
<hr width="100%"/>
<h2> Link Directory Display</h2>
<div id="tbllinks"[[Tables]]>
    <table width="100%" class="GridViewStyle">
        <tr class="HeaderStyle">
            <th valign="top">
                <b>Site Name</b>
            </th>
            <th valign="top">
                <b>Description</b>
            </th>
            <th valign="top">
                <b>Date Posted</b>
            </th>
            <th valign="top">
                <b>Visits</b>
            </th>
        </tr>
        <tr class="RowStyle">
            <td valign="top">
                <a href="#" target="_blank">arts and entertainment</a>
            </td>
            <td valign="top">User submitted articles discussing todays more popular forms of entertainment from recreational hobbies to home entertainment television shows.</td>
            <td valign="top">11/24/2010</td>
            <td valign="top">0</td>
        </tr>
        <tr class="AltRowStyle">
            <td valign="top">
                <a href="#" target="_blank">Bellydance Solutions</a>
            </td>
            <td valign="top">Bellydance Solutions is the website for Intermediate, Advance and Professional level Bellydancers. Costuming, tips and tricks, all kinds of new abounds in our newsletter. Our video series includes all kinds of prop dance techniques, costuming - even for non-sewers! - and performance-polishing. Strengthen your posture, learn to control your audience, always get the best gigs at the right price - if you need help promoting yourself, this is the place to be.</td>
            <td valign="top">11/24/2010</td>
            <td valign="top">0</td>
        </tr>
    </table>
</div>
<!-- End Link Directory -->