<?xml version="1.0"?>

<ROOTLEVEL>
  <MODULE33>
    <PersonalLogin>Yes</PersonalLogin>
    <PPShowMemberships>Yes</PPShowMemberships>
    <PPShowOrders>Yes</PPShowOrders>
    <PPShowAdStats>Yes</PPShowAdStats>
    <PPShowFriends>Yes</PPShowFriends>
    <PPShowFavorites>Yes</PPShowFavorites>
    <PPShowAffiliate>Yes</PPShowAffiliate>
    <PPShowMessenger>Yes</PPShowMessenger>
    <PPShowProfile>Yes</PPShowProfile>
    <PPShowBlogs>Yes</PPShowBlogs>
    <PPShowForums>Yes</PPShowForums>
    <PPShowMain>Yes</PPShowMain>
    <PPAllowCustom>Yes</PPAllowCustom>
    <PPDefaultPage>Account</PPDefaultPage>
    <FriendsEnable>Yes</FriendsEnable>
    <LoginURL></LoginURL>
    <ShowPoints>No</ShowPoints>
  </MODULE33>
  <MODULE994>
    <AskGender>Yes</AskGender>
    <ReqGender>Yes</ReqGender>
    <AskPhoneNumber>Yes</AskPhoneNumber>
    <ReqPhoneNumber>No</ReqPhoneNumber>
    <AskStreetAddress>Yes</AskStreetAddress>
    <AskCity>Yes</AskCity>
    <AskState>Yes</AskState>
    <AskZipCode>Yes</AskZipCode>
    <AskCountry>Yes</AskCountry>
    <ReqAddress>No</ReqAddress>
    <AskBirthDate>Yes</AskBirthDate>
    <ReqBirthDate>No</ReqBirthDate>
    <AskPayPal>No</AskPayPal>
    <ReqPayPal>No</ReqPayPal>
    <PostHide>No</PostHide>
    <AskFriends>Yes</AskFriends>
  </MODULE994>
  <MODULE991>
    <AdminFullName>Your Name</AdminFullName>
    <AdminEmailAddress>username@domain.com</AdminEmailAddress>
    <CompanyName>My Company</CompanyName>
    <CompanySlogan>My Company Slogan</CompanySlogan>
    <CompanyPhone></CompanyPhone>
    <CompanyAddressLine1></CompanyAddressLine1>
    <CompanyCity></CompanyCity>
    <CompanyState></CompanyState>
    <CompanyZipCode></CompanyZipCode>
    <CompanyCountry>us</CompanyCountry>
    <TwitterUsername></TwitterUsername>
  </MODULE991>
  <MODULE2>
    <AdsEnable>Enable</AdsEnable>
    <AdsStatsEnable>Yes</AdsStatsEnable>
    <SponsorsTarget>_blank</SponsorsTarget>
  </MODULE2>
  <MODULE39>
    <AffiliateEnable>Enable</AffiliateEnable>
    <AffiliateLVL1>0</AffiliateLVL1>
    <AffiliateLVL2>0</AffiliateLVL2>
    <AffiliateSignup>No</AffiliateSignup>
    <AffiliateIDReq>No</AffiliateIDReq>
    <AffiliateImageText></AffiliateImageText>
    <AffiliateReturnPage></AffiliateReturnPage>
  </MODULE39>
  <MODULE35>
    <ArticlesEnable>Enable</ArticlesEnable>
    <Articles10Newest>Yes</Articles10Newest>
    <ArticleShowPic>Yes</ArticleShowPic>
  </MODULE35>
  <MODULE31>
    <AuctionEnable>Enable</AuctionEnable>
    <AuctionDisplayNewest>Yes</AuctionDisplayNewest>
    <AuctionDeleteDays>10</AuctionDeleteDays>
    <AuctionEmailSubject>Thank you for posting a new ad on our web site!</AuctionEmailSubject>
    <AuctionEmailBody>Your ad has been successfully posted on our website. Your auction will remain on our website for 10 days. If you have any questions please feel free to contact us at anytime.</AuctionEmailBody>
    <AuctionQuantity>1</AuctionQuantity>
  </MODULE31>
  <MODULE61>
    <BlogsEnable>Enable</BlogsEnable>
  </MODULE61>
  <MODULE20>
    <BusinessEnable>Enable</BusinessEnable>
    <BusinessDisplayNewest>Yes</BusinessDisplayNewest>
    <BusinessPhotos>No</BusinessPhotos>
    <Business2Col>No</Business2Col>
    <BusinessLayout>1</BusinessLayout>
    <BusinessClaim>Yes</BusinessClaim>
    <BusinessPhotoAlbum>No</BusinessPhotoAlbum>
    <BusinessUserAddress>No</BusinessUserAddress>
  </MODULE20>
  <MODULE42>
    <TeleEnable>Enable</TeleEnable>
  </MODULE42>
  <MODULE44>
    <ClassifiedEnable>Enable</ClassifiedEnable>
    <ClassifiedDisplayNewest>Yes</ClassifiedDisplayNewest>
    <ClassifiedDeleteDays>10</ClassifiedDeleteDays>
    <ClassifiedEmailSubject>Thank you for posting a new ad on our web site!</ClassifiedEmailSubject>
    <ClassifiedEmailBody>Your ad has been successfully posted on our website. Your item will remain on our website for 10 days. If you have any questions please feel free to contact us at anytime.</ClassifiedEmailBody>
    <ClassifiedBuy>No</ClassifiedBuy>
    <ClassifiedNoUser>No</ClassifiedNoUser>
    <ClassifiedNewPostings>Yes</ClassifiedNewPostings>
  </MODULE44>
  <MODULE8>
    <CNRCEnable>Yes</CNRCEnable>
    <CNRREnable>Yes</CNRREnable>
    <RGraphEnable>Yes</RGraphEnable>
  </MODULE8>
  <MODULE4>
    <ContactEnable>Enable</ContactEnable>
    <ContactEmail></ContactEmail>
    <ContactEmailSubject>Thank you for contacting us!</ContactEmailSubject>
    <ContactEmailBody>This is an auto-response that we have received your email. We will respond to you as soon as possible.</ContactEmailBody>
    <ContactStreetAddress>No</ContactStreetAddress>
    <ContactAddress>No</ContactAddress>
    <ContactPhoneNumber>Yes</ContactPhoneNumber>
    <ContactFaxNumber>No</ContactFaxNumber>
  </MODULE4>
  <MODULE1>
    <CREnable>Yes</CREnable>
  </MODULE1>
  <MODULE5>
    <DiscountsEnable>Enable</DiscountsEnable>
    <DiscountsDisplayNewest>Yes</DiscountsDisplayNewest>
  </MODULE5>
  <MODULE37>
    <ELearningEnable>Enable</ELearningEnable>
  </MODULE37>
  <MODULE46>
    <EventsEnable>Enable</EventsEnable>
  </MODULE46>
  <MODULE9>
    <FAQEnable>Enable</FAQEnable>
    <FAQNewest>Yes</FAQNewest>
  </MODULE9>
  <MODULE10>
    <LibraryEnable>Enable</LibraryEnable>
    <LibraryDisplayNewest>Yes</LibraryDisplayNewest>
    <LibraryDisplayPopular>Yes</LibraryDisplayPopular>
    <LibraryMaxUpload>10</LibraryMaxUpload>
    <LibraryDownload>No</LibraryDownload>
  </MODULE10>
  <MODULE13>
    <FormsEnable>Enable</FormsEnable>
    <FormsSignup></FormsSignup>
    <FormsLogin></FormsLogin>
  </MODULE13>
  <MODULE12>
    <ForumsEnable>Enable</ForumsEnable>
    <ForumsDeleteDays>730</ForumsDeleteDays>
    <ForumsDisplayNewest>Yes</ForumsDisplayNewest>
    <ForumsUsersEdit>No</ForumsUsersEdit>
    <ForumsAttachment>No</ForumsAttachment>
  </MODULE12>
  <MODULE14>
    <GuestbookEnable>Enable</GuestbookEnable>
    <GuestbookDeleteDays>730</GuestbookDeleteDays>
  </MODULE14>
  <MODULE57>
    <HoroscopesEnable>Enable</HoroscopesEnable>
  </MODULE57>
  <MODULE40>
    <HotNotEnable>Enable</HotNotEnable>
    <HotNotProfiles>Yes</HotNotProfiles>
  </MODULE40>
  <MODULE56>
    <INewsEnable>Enable</INewsEnable>
  </MODULE56>
  <MODULE19>
    <LinksEnable>Enable</LinksEnable>
    <LinksDisplayNewest>Yes</LinksDisplayNewest>
    <LinksDisplayPopular>Yes</LinksDisplayPopular>
  </MODULE19>
  <MODULE18>
    <MatchEnable>Enable</MatchEnable>
    <MatchPicNo>6</MatchPicNo>
  </MODULE18>
  <MODULE17>
    <MessengerEnable>Enable</MessengerEnable>
    <MessengerDeleteDays>730</MessengerDeleteDays>
  </MODULE17>
  <MODULE23>
    <NewsEnable>Enable</NewsEnable>
    <NewsDeleteDays>1460</NewsDeleteDays>
  </MODULE23>
  <MODULE24>
    <NewsLetEnable>Enable</NewsLetEnable>
    <NewsletRemoveText>Click here to unsubscribe from this newsletter</NewsletRemoveText>
    <NewsletFromEmail></NewsletFromEmail>
  </MODULE24>
  <MODULE47>
    <GamesEnable>Enable</GamesEnable>
  </MODULE47>
  <MODULE28>
    <PhotosEnable>Enable</PhotosEnable>
  </MODULE28>
  <MODULE25>
    <PollsEnable>Enable</PollsEnable>
  </MODULE25>
  <MODULE60>
    <PortalsEnable>Enable</PortalsEnable>
    <PortalMasterDomain></PortalMasterDomain>
    <PortalProfiles>Yes</PortalProfiles>
    <PortalSiteLooks>Yes</PortalSiteLooks>
  </MODULE60>
  <MODULE32>
    <RStateEnable>Enable</RStateEnable>
    <RStateDisplayNewest>Yes</RStateDisplayNewest>
    <RStateNewestRent>Yes</RStateNewestRent>
    <RStateNewestSale>Yes</RStateNewestSale>
    <RStateStateDrop>Yes</RStateStateDrop>
    <RStateCountryDrop>Yes</RStateCountryDrop>
  </MODULE32>
  <MODULE43>
    <ReferEnable>Enable</ReferEnable>
    <ReferDisplayTop>Yes</ReferDisplayTop>
    <ReferDisplayStats>Yes</ReferDisplayStats>
    <ReferEmailSubject>Take a look at this web site you may like it!</ReferEmailSubject>
    <ReferEmailBody>I thought you might be interested in the information on this web site.</ReferEmailBody>
  </MODULE43>
  <MODULE3>
    <SearchModules>Yes</SearchModules>
    <SearchRadius>Yes</SearchRadius>
  </MODULE3>
  <MODULE995>
    <TaxCalcEnable>Yes</TaxCalcEnable>
    <OrderFinalText></OrderFinalText>
    <EmailTempAdmin></EmailTempAdmin>
    <EmailTempCust></EmailTempCust>
  </MODULE995>
  <MODULE41>
    <ShopMallEnable>Enable</ShopMallEnable>
    <ShopMallWishList>Yes</ShopMallWishList>
    <ShopMallSalesPage>Yes</ShopMallSalesPage>
    <ShopMallElectronic></ShopMallElectronic>
    <ShopMallDisplayNewest>Yes</ShopMallDisplayNewest>
  </MODULE41>
  <MODULE997>
    <StartupClass>4</StartupClass>
    <EmailAdminNew></EmailAdminNew>
    <SignupVerify>Yes</SignupVerify>
    <SignupAgreement></SignupAgreement>
    <SignupAgreeNew>No</SignupAgreeNew>
    <SignupAdminApp>No</SignupAdminApp>
    <SignupAge>16</SignupAge>
    <LoginEmail>No</LoginEmail>
    <SignupAREmail></SignupAREmail>
    <SignupARSubject></SignupARSubject>
    <SignupARBody></SignupARBody>
    <SignupPage></SignupPage>
    <DefaultState></DefaultState>
    <AutoUser></AutoUser>
    <VerImgFore>red</VerImgFore>
    <VerImgBack>grey</VerImgBack>
    <SignupSecTitle></SignupSecTitle>
    <SignupSecDesc></SignupSecDesc>
    <SignupSelMem>No</SignupSelMem>
  </MODULE997>
  <MODULE50>
    <SpeakerEnable>Enable</SpeakerEnable>
  </MODULE50>
  <MODULE15>
    <StocksSymbols></StocksSymbols>
  </MODULE15>
  <MODULE7>
    <UPagesEnable>Enable</UPagesEnable>
    <UPagesTemplate>No</UPagesTemplate>
    <UPagesPayPal>No</UPagesPayPal>
  </MODULE7>
  <MODULE63>
    <ProfilesEnable>Enable</ProfilesEnable>
    <ProfilesAskSignup>Yes</ProfilesAskSignup>
    <ProfilesPicNo>6</ProfilesPicNo>
    <ProfilesMatch>No</ProfilesMatch>
    <ProfileRequired>No</ProfileRequired>
    <ProfilesType1></ProfilesType1>
    <ProfilesType2></ProfilesType2>
    <ProfilesType3></ProfilesType3>
  </MODULE63>
  <MODULE65>
    <VoucherEnable></VoucherEnable>
    <VoucherDaysAdd></VoucherDaysAdd>
    <VoucherExpireDays></VoucherExpireDays>
    <VoucherAgreement></VoucherAgreement>
    <VoucherAgreementBuy></VoucherAgreementBuy>
    <VoucherTop10></VoucherTop10>
  </MODULE65>
  <MODULE55>
    <WeatherEnable>Enable</WeatherEnable>
  </MODULE55>
  <MODULE993>
    <Menu1Text>Top Menu</Menu1Text>
    <Menu2Text>Reserved Menu 1</Menu2Text>
    <Menu3Text>Member Menu</Menu3Text>
    <Menu4Text>Reserved Menu 2</Menu4Text>
    <Menu5Text>Reserved Menu 3</Menu5Text>
    <Menu6Text>Reserved Menu 4</Menu6Text>
    <Menu7Text>Bottom Menu</Menu7Text>
    <Menu1Sitemap>Yes</Menu1Sitemap>
    <Menu2Sitemap>Yes</Menu2Sitemap>
    <Menu3Sitemap>Yes</Menu3Sitemap>
    <Menu4Sitemap>Yes</Menu4Sitemap>
    <Menu5Sitemap>Yes</Menu5Sitemap>
    <Menu6Sitemap>Yes</Menu6Sitemap>
    <Menu7Sitemap>Yes</Menu7Sitemap>
    <SiteLogo></SiteLogo>
    <RSSTop>Yes</RSSTop>
    <FavoritesTop>Yes</FavoritesTop>
    <ReferTop>Yes</ReferTop>
    <MainPageTop>Yes</MainPageTop>
    <TempCols>2</TempCols>
    <WYSIWYG>TinyMCE</WYSIWYG>
  </MODULE993>
  <MODULE992>
    <WebSiteName>My Site</WebSiteName>
    <CurrencyCode>USD</CurrencyCode>
    <BadWordFilter>ahole,ash0le,ash0les,asholes,Ass Monkey,Assface,assh0le,assh0lez,asshole,assholes,assholz,asswipe,azzhole,bastard,bastards,bastardz,basterds,basterdz,Biatch,bitch,bitches,butthole,buttwipe,cockhead,cock-head,CockSucker,cock-sucker,f u c k,f u c k e r,fuck,fucker,fuckin,fucking,fuker,Fukin,Fukker,Fukkin,Motha Fucker,Motha Fuker,Motha Fukkah,Motha Fukker,Mother Fucker,Mother Fukah,Mother Fuker,Mother Fukkah,Mother Fukker,mother-fucker,Mutha Fucker,Mutha Fukah,Mutha Fuker,Mutha Fukkah,Mutha Fukker,nigger,nigur,niiger,niigr,pusse,pussee,pussy,son-of-a-bitch,wh00r,wh0re,whore,b!+ch,bitch,asshole</BadWordFilter>
    <RecPerAPage>20</RecPerAPage>
    <SerialNum></SerialNum>
    <MaxImageSize>2048</MaxImageSize>
    <SiteLang>en-US</SiteLang>
    <FCURDEC>Yes</FCURDEC>
    <CatCount>Yes</CatCount>
    <TimeOffset>0</TimeOffset>
    <CatLowestLvl>Yes</CatLowestLvl>
  </MODULE992>
  <MODULE26>
    <StatsEnableCounter>Yes</StatsEnableCounter>
    <StatsCounterImage>1</StatsCounterImage>
    <StatsBeforeText>There has been</StatsBeforeText>
    <StatsAfterText>unique visitors on our website.</StatsAfterText>
  </MODULE26>
</ROOTLEVEL>