<?xml version="1.0" encoding="utf-8"?>

<ROOTLEVEL>
  <EncryptionKey></EncryptionKey>
  <ConnectionString>SERVER=PlaceHolderForSQLDBAddress;DATABASE=PlaceHolderForSQLDBName;user id=PlaceHolderForSQLUser;PASSWORD=PlaceHolderForSQLPassword;</ConnectionString>
  <MailServerIP></MailServerIP>
  <MailServerUser></MailServerUser>
  <MailServerPass></MailServerPass>
  <MailServerPort>25</MailServerPort>
</ROOTLEVEL>